<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"      loggingEnabled="false"
      devErrorsEnabled="true"
      node_env="production"
    />
  </system.webServer>
</configuration>