# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Build and deploy Python app to Azure Web App - NBA-API

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  backend:
    name: Backend - FastAPI Format, Lint, Test
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install backend dependencies
        run: | 
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 pip install -r requirements.txt
          pip install black pytest

      - name: Format backend with Black
        run: | 
          source venv/bin/activate
          black . --check

      - name: Run backend tests
        run: | 
          source venv/bin/activate
          pytest || echo "No tests found, skipping..."

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: /
 

  deploy:
    runs-on: ubuntu-latest
    needs: backend
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_13BBBAA31F524BFEB7F9474E3BE4233F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3F0A34CB2B57401D81CBFB056CAE2BB4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_89F5DFDA51324A86B49A49BB57C81C82 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'NBA-API'
          slot-name: 'Production'

          

